<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="bot-icon.png" type="image/gif">
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/sass/style.css">
</head>

<body>
    <div id="loader" class="loading">
        <img src="discord-picture-loading-gif.gif" alt="" class="center">
        <small>loading...</small>
    </div>
    <div class="wrapper_content_dashboard">
        <div class="wrapper_container">
            <div class="grid_one">
                <ul class="side_nav">
                    <li data-toggle="tooltip" data-placement="right" title="Chat Bot" class="active">
                        <a href="dashboard"><img src="images/bot-icon.png" alt=""></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="Chat Bot">
                        <a href="#"><img src="images/chat-icon.png" alt="Music Bot"></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        <a href="#"><img src="images/plus.png" alt="Musice Bot"></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        <a href="playlist"><img src="images/playlist.png" alt="Music Bot"></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        <a href="search"><img src="images/search-icon.png" alt="Music Bot"></a>
                    </li>
                </ul>
            </div>
            <div class="grid_two">
                <div class="nav-top">
                    <h6>Music Bot Server</h6>
                </div>
                <div class="">
                    <ul class="list"></ul>
                </div>
                <div class="nav-bottom">
                    <div class="bottom-music-box">
                        <img src="chat-icon.png" />
                    </div>
                </div>
            </div>
            <div class="grid_three">
                <ul class="main-navigation">
                    <li><a href="dashboard">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="help">Help</a></li>
                    <li><a href="detecting-mood">My Camara</a></li>
                </ul>
                <div class="content">
                    <h1>Blog</h1>
                </div>
            </div>
            <div class="grid_four">
                <ul class="account-navigation">
                    <li>
                        <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </li>
                    <li>
                        <a href="#">Hello, Janani<img src="user-icon.png"/></a>
                    </li>
                </ul>
                <div>
                    <div class="heading-sub">
                        <p>Online</p>
                    </div>
                    <div class="heading-sub">
                        <p><img src="chat-icon.png" alt="Music Bot" class="info-icon" /> Janani</p>
                    </div>
                    <div class="heading-sub">
                        <p>Offline</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>