//load font-face
@font-face{
    font-family: 'Segoe-Regular';
    src: url('Segoe UI.woff');
}
@font-face{
    font-family: 'Segoe-Bold';
    src: url('Segoe UI Bold.woff');
}
body{
    font-family: 'Segoe-Regular';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
}
p{
    font-family: 'Segoe-Regular';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
}
//position
@mixin center($position) {
    position: absolute;
    
    @if $position == 'vertical' {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
}
.wrapper_content{
    display: flex;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    min-height: 100vh;
    position: relative;
    @media (max-width:910px){
        flex-direction: column-reverse;
        height: 100%;
    }
    .wrapper_login_left{
        background: #26262b;        
        flex-basis: 50%;
        display: flex;
        align-items: center;
        flex: 1;
        h1{
            text-transform: uppercase;
            color: #fff;
            margin: 0 auto;
            font-family: 'Segoe-Bold';
            font-size: 40px;
            @media (max-width:768px){
               margin: 0  1rem;
            }
        }
    }
    .wrapper_login_right{
        background: #39393b;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        flex: 1;
        .form-group-container{
            .form-group-heading{
                img{
                    margin-bottom: 10px;
                }
            }
            border: 1px solid #626262;
            width: 400px;
            margin:  0 auto;
            padding: 4rem;
            border-radius: 4px;
            position: relative;
            z-index: 1090;
            text-align: center;
            &::before{
                content: url(login-music-bg.png);
                position: absolute;
                bottom: 30px;
                left: -45px;
                z-index: -1;
            }
            @media (max-width:320px){
                width: 90%;
            }
            input[type='text'],input[type='password']{
                background: #626262;
                border-radius: 4px;
                text-align: center;
                border: none;
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
            }
            input[type='button']{
                background: #cf4d67;
                padding: 8px 25px;
                width: 100%;
                border: none;
                border-radius: 4px;
                height: 3rem;
            }
            .form-group-body{
                .form-group{
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        right: -15px;
                        top: 17px;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent #626262 transparent;
                        transition-duration: 0.3s;
                        transition-property: transform;
                        z-index: 1;
                        transform: rotate(90deg);
                    }
                    &.form-button{
                        &::after{
                            border-color: transparent transparent #cf4d67 transparent;
                        }
                    }
                }
            }
            a{
                color: #9a4556;
                padding: 0 5px;
                text-transform: capitalize;
            }
        }
    }
}
